## Notebook Pertama

In [1]:
print("halo dari notebook")

halo dari notebook

### Tipe data dalam python

In [2]:
5

5

In [4]:
type(5)

int

In [6]:
print(type(5))
print(type(5.0))
print(type(True))
print(type("Irzal"))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [7]:
# contoh tipe data majemuk

type((1, 2, 3, True, "Irzal"))

tuple

In [12]:
print(type((1, 2, 3, 'irzal', 3.4, True)))
print(type([1, 2, 3, 'irzal', 3.4, True]))

<class 'tuple'>
<class 'list'>

## Variabel

In [13]:
x = 5
print(x)

5

In [14]:
y = 1
x + y

6

In [15]:
x = 78

In [17]:
nama, usia = 'irzal' , '18'
print(nama)
print(usia)

irzal
18

In [16]:
x + y

79

In [21]:
my_string = 'IrzaldiYazid'
hari = "Jum'at"
print(type(hari))
print(type(my_string))

<class 'str'>
<class 'str'>

In [22]:
quotes = '"halo para newbie" - (ben_wilker)'
print(quotes)

"halo para newbie" - (ben_wilker)

In [23]:
len(quotes)

33

In [24]:
quotes.upper()

'"HALO PARA NEWBIE" - (BEN_WILKER)'

In [25]:
quotes.lower()

'"halo para newbie" - (ben_wilker)'

In [26]:
quote = quotes.upper()

In [27]:
quote

'"HALO PARA NEWBIE" - (BEN_WILKER)'

## String Formatting

In [29]:
nama = "zaldi"
usia = "27"

print(f"nama saya {nama} dan usia saya {usia} tahun")

nama saya zaldi dan usia saya 27 tahun

## indexing and slicing

In [33]:
nama = 'Bocah'
print(nama[2])
print(nama[-4])
print(nama[1:3:1])

c
o
oc

In [34]:
print (5 + 76)
print (6 % 2)

81
0

In [35]:
nama_depan = 'zaldi'
nama_belakang = 'error'
print (nama_depan + nama_belakang)

zaldierror

In [40]:
a = 50
b = 30

print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
True
False

In [42]:
# cek keanggotaan
nama_buah = ('belimbing', 'pisang', 'mangga')

'belimbing' in nama_buah

True

In [46]:
my_tupplelist = (1, 3 ,4, 'irzal', 5.4, True, (1,2,3))
print(my_tupplelist[6])
print(my_tupplelist[6][2])

(1, 2, 3)
3

In [48]:
my_list = [1,2,3,4]

In [ ]:
|